@import './form.css';

body {
    background: var(--primary-color);
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.6em;
    
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 30px;
}

.auth__container {
    max-width: 800px;
    background: var(--white-color);
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.auth__container > *:not(:first-child) {
    margin-top: 45px;
}

.auth__header {
    line-height: 2.2rem;
}

.auth__header h1 {
    font-size: 1.7rem;
}

@media only screen and (min-width: 576px)  { 
    .auth__container {
        width: 80%;
    }  
}

@media only screen and (min-width: 768px)  { 
    .auth__container {
        width: 70%;
    }  
}

@media only screen and (min-width: 992px) { 
    .auth__container {
        width: 60%;
    }  

    .auth__header h1 {
        font-size: 2.1rem;
    }
}

@media only screen and (min-width: 1200px) {
    .auth__container {
        width: 50%;
    }  
}

@media only screen and (min-width: 1400px) {
    .auth__container {
        width: 40%;
    }  
}
