.card {
    width: 100%;
    margin-top: 40px;

    border-left: 30px solid var(--primary-color);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    padding-block: 10px;
    border-radius: 4px;
}

.card__content {
    margin-bottom: 15px;
}

.card__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__actions > * {
    flex: 1;
}

@media only screen and (max-width: 480px) {
    .card__actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .card__actions> a{
        font-size: 0.9rem;
        margin: 4px 0px;
    }
    
}