:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --secondary-color: #17a3b8;
    --secondary-color-dark: #167f90;
    --primary-color: #343a40;
    --primary-color-light: #a3abb3;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.text-danger {
    color: red;
}

.main {
    max-width: 800px;
    margin: 100px auto;
}

.main > section {
    margin-top: 30px;
}