@import './default.css';

.form {
    --gap-default: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--gap-default);
}

.form__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--gap-default);
}

.input__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.form__group > .input__group {
    flex: 1 1 160px;
}

.input__group label {
    display: block;
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1;
}

.input__group input {
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
}

.input__group input:focus {
    color: rgba(0, 0, 0, 0.8);
    outline: 1px solid var(--secondary-color-dark);
}

.form button[type="submit"] {
    outline: none;
    background: var(--secondary-color);
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: var(--white-color);
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    line-height: inherit;
    cursor: pointer;
    margin-top: 30px;
    transition: background-color 0.5s ease;
}

.form button[type="submit"]:hover {
    background-color: var(--secondary-color-dark);
}

.field-required {
    color: red;
}

.msg-text {
    font-size: 0.8rem;
    position: absolute;
    bottom: -0.8rem;
    transform: translateY(40%);
}